.container {
  padding: 20px;
  max-width: 80%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.day {
  border: 1px solid black;
  padding: 25px;
  display: flex;
  gap: 10px;
  position: relative;
  background: white;
}
.title{
  width:150px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #fdcb6e, white);
}
.tasksContainer{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 5px;
  align-items: center;

}
.hideContainer{
  display: none;
}
.lowPriority{
background-color:#55efc4;
}
.highPrioryty{
background-color: #fab1a0;
}
.dellButton{
  cursor: pointer;
position: absolute;
top:5px;
right: 5px;
opacity: 0;
}
.day:hover .dellButton{
  opacity: 1;
}